.default-service {
  padding: 64px 8px;
  background: #fff;
  .service {
    border-radius: 16px;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    img {
      border-radius: 16px 16px 0 0;
    }
    .content {
      padding: 32px;
    }
  }
}
